@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@700&display=swap');


h2,h3 {
    font-family: 'Kreon', serif;
}

button{
background-color: #000;
color: #fff;
padding: 1em 2em;
transition: all 0.5s;
&:hover{
    color: #000;
    background-color: transparent;
}
}
.navbar{
    background-color: rgba($color: #fff, $alpha: 0.5);
    padding: 1em 3em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;

    h3{
        border: #000 solid 1px;
        padding: 0.2em;
        letter-spacing: 5px;
    }
    a{
        color: #000;
    }

}
.blog{
    padding: 5em 7em;
    text-align: center;
    background-color: rgba($color: #000, $alpha: 0.1);
    .blog-card{
        background-color: #fff;
        img{
            height: 250px;
            object-fit: cover;
            width: 100%;
        }
        button{
            width: 100%;
        }
    }
    
}
.new-collection{
    padding: 5em 7em;
    text-align: center;
    img{
        object-fit: cover;
        width: 100%;
    }
    .type-1{
            height: 500px;
    }
    .type-2{
            height: 400px;
    }
    .product-card{
        position: relative;
        overflow: hidden;
        .overlay{
            display: flex;
            justify-content: space-around;
            background-color: #000;
            position: absolute;
            bottom: -50%;
            right: 0;
            left: 0;
            padding: 2em;
            transition: all 0.5s;
            a{
                color: #fff;
                transition: all 0.4s;
                &:hover{
                    transform: scale(1.5);
                }
            }
        }
        &:hover{
            .overlay{
                bottom: 0;
            }
        }
    }


}
.view-products{
    color: #fff;
    .offers{
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) ,url(../images/paira-banner-small-1.jpg);
    }
    .best-seller{
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../images//paira-banner-small-2.jpg);
        text-align: right;
    }
    .offers,.best-seller{
        padding: 7em 3em;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

footer{
    background-color: rgba($color: #000, $alpha: 0.1);
    display: flex;
    text-align: center;
    a{
        color: #000;
        margin:0 10px;
        border-bottom: 1px transparent solid;
        padding: 10px;
        transition: all 0.5s;
        &:hover{
            border-bottom: #000 1px solid;
            color: #000;
        }
    }
}
@media only screen and (max-width: 768px) {
    .new-collection,.blog{
        padding: 5em 1em;
  }
}